NEXT_PUBLIC_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_BUILDER_CODE=
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BASE_RPC_URL=

PINATA_JWT=

NEXT_PUBLIC_SCOREBOARD_ADDRESS=
NEXT_PUBLIC_RUNNFT_ADDRESS=

NEXT_PUBLIC_NOINDEX=

CDP_PAYMASTER_URL=
NEXT_PUBLIC_PAYMASTER_PROXY_SERVER_URL=
